{% extends 'base.html' %}
{% load static i18n questions_tags %}


{% block extra_css %}
{% endblock %}

{% block class_body %}dashboard{% endblock class_body %}

{% block content %}

    <div class="main">
        {% include "core/sidebar.html" %}
        <div class="content">
            <div class="app">
                <div class="head actions">
                    <div>
                        <div class="title">Formularios</div>
                        <div class="description">Consulte acá tus formularios creados</div>
                    </div>
                    <div>
                        <a type="button"
                           class="button primary right"
                           href="{% url 'questions:questions_add' action="add" %}">
                            Crear formulario
                        </a>
                    </div>
                </div>
                <div class="form row list-questions">
                    <div class="row">
                        {% for message in messages %}
                            <div class="col s12 alert {{ message.tags }}" role="alert">
                                <div class="text">{{ message }}</div>
                                <button type="button" class="close"></button>
                            </div>
                        {% endfor %}
                    </div>
                    <table class="col s12" style="width: 100%; text-align: left">
                        <thead>
                        <tr>
                            <th style="width: 50%">Titulo</th>
                            <th>¿Activo?</th>
                            <th>Preguntas</th>
                            <th>Respuestas</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for question in questions %}
                            <tr>
                                <td>{{ question.title }}</td>
                                <td>
                                    <form action="{% url 'questions:questions_action' action='active' id=question.id %}"
                                          method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="button inert">
                                            {% if question.active %}
                                                <i class="material-icons outlined">check_box</i>
                                            {% else %}
                                                <i class="material-icons outlined">check_box_outline_blank</i>
                                            {% endif %}
                                        </button>
                                    </form>
                                </td>
                                <td>{{ question|counter_questions }}</td>
                                <td>{{ question.id|counter_answers }}</td>
                                <td>
                                    <a class="button" title="Ver Estadísticas"
                                       href="{% url 'questions:questions_action' action='statistics' id=question.id %}">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                    <a class="button" title="Editar"
                                       href="{% url 'questions:questions_action' action="edit" id=question.id %}"
                                    >
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <a class="button" title="Eliminar"
                                       href="{% url 'questions:questions_action' action="delete_b" id=question.id %}"
                                    >
                                        <i class="material-icons">delete</i>
                                    </a>
                                    <a class="button copy-data" id="copy-{{ forloop.counter }}" title="Compartir"
                                       data-clipboard-text="{{ request.META.HTTP_HOST }}{{ question.get_absolute_url }}"
                                    >
                                        <i class="material-icons">share</i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}
