{% extends 'base.html' %}
{% load static i18n %}


{% block extra_css %}
    <style>
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 8rem;
        font-weight: bold;
    }
    </style>
{% endblock %}

{% block class_body %}dashboard{% endblock class_body %}

{% block content %}
    <div class="main">
        <div class="title">404</div>
        <div class="extra">
            Parece que no hemos encontrado tu formulario, contacta con tu administrador
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}