{% extends 'base.html' %}
{% load static i18n questions_tags %}


{% block extra_css %}
    <style>
        form {
            width: 100%;
        }
    </style>
{% endblock %}

{% block class_body %}dashboard{% endblock class_body %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="id_question" value="{{ question.id }}">
        <input type="hidden" name="question_count" value="{{ questions_list_count }}">
        <div class="main">
            <div class="app">
                <div class="head">
                    <div>
                        <div class="title">{{ question.title }}</div>
                        <div class="description">{{ question.description }}</div>
                    </div>
                </div>

                <div class="row">
                    {% for message in messages %}
                        <div class="col s12">
                            <div class="alert {{ message.tags }}">
                                <div class="text">{{ message }}</div>
                                <button type="button" class="close"></button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="form">
                    <div class="row">
                        {% for q in questions_list %}
                            <div class="div col s12 content-questions-resolve">
                                <h2 class="title-question">{{ q.question }}</h2>
                                <input type="hidden" name="id_question_{{ forloop.counter }}"
                                       value="{{ q.id }}">
                                <div class="row">
                                    <div class="col s12">
                                        {% aux_parent_account forloop.counter as q_count %}
                                        {% options_question q as options %}

                                        <ul>
                                            {% for option in options %}
                                                <li>
                                                    <input type="radio"
                                                           id="option_{{ forloop.counter0 }}_question_{{ q_count }}"
                                                           name="option_question_{{ q_count }}"
                                                           value="{{ option.id }}">
                                                    <label for="option_{{ forloop.counter0 }}_question_{{ q_count }}">
                                                        {{ option.option }}
                                                    </label>

                                                    <div class="check"></div>
                                                </li>
                                            {% endfor %}
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row">

                    <div class="col s12 action-form">
                        <button type="submit" class="button primary">Guardar formulario</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}

{% block extra_js %}
    <script>
        function resizeForm() {
            let el = document.getElementsByTagName("li")
            for (let i = 0; i < el.length; i++) {
                let e = el[i];
                let height = e.scrollHeight
                e.style.height = `${height}px`;
            }
        }

        window.addEventListener("resize", resizeForm, false);
        window.onload = resizeForm;
        // window.onresize = resizeForm;
    </script>
{% endblock extra_js %}
