{% extends 'base.html' %}
{% load static i18n questions_tags %}


{% block extra_css %}
{% endblock %}

{% block class_body %}dashboard{% endblock class_body %}

{% block content %}
    <div class="main">
        {% include "core/sidebar.html" %}
        <form method="post">
            {% csrf_token %}
            <div class="content">
                <div class="app">
                    <div class="head actions" style="position:relative;">
                        <div>
                            <div class="title">Editar Formulario</div>
                            <div class="description">Edite el contenido de tus preguntas de acuerdo a tu necesidad</div>
                        </div>
                        <div>
                            <a type="button"
                               class="button"
                               href="{% url 'questions:questions_action' action="statistics" id=question.id %}">
                                Volver
                            </a>
                            <a type="button"
                               class="button primary"
                               href="{% url 'questions:questions_action' action="delete_b" id=question.id %}">
                                Eliminar
                            </a>
                            <button type="submit"
                                    class="button secondary">
                                Guardar
                            </button>
                        </div>
                    </div>
                    <div class="form row">
                        <div class="row">
                            {% for message in messages %}
                                <div class="col s12 alert {{ message.tags }}" role="alert">
                                    <div class="text">{{ message }}</div>
                                    <button type="button" class="close"></button>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <input type="hidden" name="counter" id="counter" value="{{ questions_list_count }}">
                            <input type="hidden" name="id" id="id" value="{{ question.id }}">
                            <div class="title-group-field"><b>Datos generales</b></div>
                            <div class="col s12 m12">
                                <div class="j-field outlined">
                                    <input class="input-field" type="text" id="title" name="title" autocomplete="off"
                                           required="required" value="{{ question.title }}" maxlength="200"/>
                                    <label for="title">Título cuestionario</label>
                                    <div class="helper-field">Agrega un título temático de acuerdo al cuestionario</div>
                                </div>
                            </div>
                            <div class="col s12 m12">
                                <div class="j-field outlined">
                                    <input class="input-field" type="text" id="description" name="description"
                                           autocomplete="off"
                                           required="required" value="{{ question.description }}"/>
                                    <label for="description">Descripción</label>
                                    <div class="helper-field">Agrega una breve descripción a colocar en el formulario.
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m12">
                                <div class="j-field outlined">
                                    <input class="input-field" type="text" id="slug" name="slug"
                                           autocomplete="off"
                                           required="required" value="{{ question.slug }}"/>
                                    <label for="slug">URL</label>
                                    <div class="helper-field">Puedes cambiar el slug a tu conveniencia</div>
                                </div>
                            </div>
                            <div class="col s12 m12">
                                <div class="input-checkbox">
                                    <input id="input-checkbox-example-short"
                                           type="checkbox"
                                            {% if question.active %} checked {% endif %}
                                           name="active"
                                    />
                                    <label for="input-checkbox-example-short">
                                        <span class="input-checkbox_box" aria-hidden="true"></span>
                                        <span class="input-checkbox_content">¿Activar formulario?</span>
                                    </label>
                                </div>
                            </div>

                            <div class="title-group-field"><b>Listado de preguntas:</b></div>
                            <div class="row">
                                {% for q in questions_list %}
                                    <div class="div col s12">
                                        <fieldset class="">
                                            <legend>Pregunta #{{ forloop.counter }}</legend>
                                            <input type="hidden" name="id_question_{{ forloop.counter }}"
                                                   value="{{ q.id }}">
                                            <div class="row">
                                                <div class="col s12 m12">
                                                    <div class="j-field outlined">
                                                        <input class="input-field" type="text"
                                                               id="question_{{ forloop.counter }}"
                                                               name="question_{{ forloop.counter }}"
                                                               autocomplete="off" required="required"
                                                               value="{{ q.question }}"/>
                                                        <label for="question_{{ forloop.counter }}">Título Pregunta
                                                            #{{ forloop.counter }}</label>
                                                        <div class="helper-field">Agrega título de la pregunta a mostrar
                                                            al usuario
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="title-group-field"><b>
                                                    El formulario se compone de 6 opciones de respuesta, 0 su valor
                                                    mínimo y
                                                    5 su máximo.
                                                    por favor ingresa cada una de las descripciones correspondientes a
                                                    sus
                                                    valores.
                                                </b></div>

                                                <div class="col s12">
                                                    <fieldset class="nb">
                                                        <div class="row">
                                                            {% aux_parent_account forloop.counter as q_count %}
                                                            {% options_question q as options %}
                                                            {% for option in options %}
                                                                <input type="hidden"
                                                                       name="id_option_{{ forloop.counter0 }}_question_{{ q_count }}"
                                                                       value="{{ option.id }}"
                                                                >
                                                                <div class="col s12 m6">
                                                                    <div class="j-field outlined">
                                                                        <input class="input-field" type="text"
                                                                               id="option_{{ forloop.counter0 }}_question_{{ q_count }}"
                                                                               name="option_{{ forloop.counter0 }}_question_{{ q_count }}"
                                                                               autocomplete="off" required="required"
                                                                               value="{{ option.option }}"
                                                                        />
                                                                        <label for="option_{{ forloop.counter0 }}_question_{{ q_count }}">
                                                                            Opción para valor #{{ forloop.counter0 }}
                                                                        </label>
                                                                        <div class="helper-field">Ingresa una breve
                                                                            descripción correspondiente a la opción
                                                                            #{{ forloop.counter0 }} de la pregunta
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <div class="col s12">
                                                    <a href="{% url 'questions:questions_action' action='delete_q' id=q.id %}"
                                                       type="button" class="button primary">Eliminar pregunta</a>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="row" id="content-questions"></div>
                        </div>

                        <div class="col s12">
                            <button type="button" class="button" onclick="addQuestion()">Agregar otra pregunta</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 action-form">
                            <a href="{% url 'questions:questions_action' action='statistics' id=question.id %}"
                               class="button danger">Volver</a>
                            <button type="submit" class="button primary">Guardar formulario</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}

{% block extra_js %}
    <script>
        let counter = {{ questions_list_count }} +1;
        let el = document.getElementById("content-questions");

        function addQuestion() {
            let formContent = `
            <fieldset class="">
                <legend>Pregunta #${counter}</legend>
                <div class="row">
                    <div class="col s12 m12">
                        <div class="j-field outlined">
                            <input class="input-field" type="text"
                                   id="question_${counter}" name="question_${counter}"
                                   autocomplete="off" required="required"/>
                            <label for="question_${counter}">Título Pregunta #${counter}</label>
                            <div class="helper-field">Agrega título de la pregunta a mostrar al usuario</div>
                        </div>
                    </div>

                    <div class="title-group-field"><b>
                        El formulario se compone de 6 opciones de respuesta, 0 su valor mínimo y 5 su máximo.
                        por favor ingresa cada una de las descripciones correspondientes a sus valores.
                    </b></div>

                    <div class="col s12">
                        <fieldset class="nb">
                            <div class="row">
                                {% for i in "012345" %}
                                    <div class="col s12 m6">
                                        <div class="j-field outlined">
                                            <input class="input-field" type="text"
                                                   id="option_{{ forloop.counter0 }}_question_${counter}"
                                                   name="option_{{ forloop.counter0 }}_question_${counter}"
                                                   autocomplete="off" required="required"/>
                                            <label for="option_{{ forloop.counter0 }}_question_${counter}">
                                                Opción para valor #{{ forloop.counter0 }}
                                            </label>
                                            <div class="helper-field">Ingresa una breve descripción correspondiente a la opción
                                                #{{ forloop.counter0 }} de la pregunta
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </fieldset>
                    </div>
                </div>
            </fieldset>
        `
            let htmlObject = document.createElement('div');
            htmlObject.classList.add("col");
            htmlObject.classList.add("s12");
            htmlObject.style.marginBottom = "20px";
            htmlObject.innerHTML = formContent
            el.before(htmlObject);

            document.getElementById("counter").value = counter;

            ui(["form"]).mount();
            counter++;
        }

        window.onload = function () {
            // addQuestion();
        };

    </script>
{% endblock extra_js %}