{% extends 'base.html' %}
{% load static i18n %}


{% block extra_css %}
{% endblock %}

{% block class_body %}dashboard{% endblock class_body %}

{% block content %}

    <div class="main">
        {% include "core/sidebar.html" %}
        <div class="content">
            <div class="app" style="display: flex; align-items: center">
                <form method="post">
                    <div class="info row center">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ id }}">
                        <div class="title-group-field"><b>Estás seguro de querer eliminar:</b></div>
                        <div class="head" style="padding: 0">
                            <div class="title">{{ title }}</div>
                        </div>
                        <div class="col s12">
                            <a type="button"
                               class="button danger"
                               href="{% url 'questions:questions_action' action='edit' id=id_edit %}">
                                Cancelar
                            </a>
                            <button type="submit"
                                    class="button primary">
                                Si, eliminar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}