{% extends 'base.html' %}
{% load static i18n %}


{% block extra_css %}
{% endblock %}

{% block class_body %}dashboard{% endblock class_body %}

{% block content %}

    <div class="main">
        {% include "core/sidebar.html" %}
        <div class="content">
            <div class="app">
                <div class="head actions">
                    <div>
                        <div class="title">{{ question.title }}</div>
                        <div class="description">{{ question.description }}</div>
                    </div>
                    <div>
                        <a type="button"
                           class="button right"
                           href="{% url 'questions:questions_box' %}">
                            Volver
                        </a>
                        <a type="button"
                           class="button primary right"
                           href="{% url 'questions:questions_action' action="edit" id=question.id %}">
                            Editar formulario
                        </a>
                        <a class="button copy-data" id="copy-{{ forloop.counter }}" title="Compartir"
                           style="padding: 14px"
                           data-clipboard-text="{{ request.META.HTTP_HOST }}{{ question.get_absolute_url }}"
                        >
                            <i class="material-icons">share</i>
                        </a>
                    </div>
                </div>
                <div class="info row">
                    <div class="col s12 m4">
                        <div class="score">
                            <div class="total">{{ average }}</div>
                            <div class="description">Resultado total</div>
                        </div>
                    </div>
                    {% for v in data_q %}
                        <div class="col s12 m6">
                            <div id="data-char-{{ forloop.counter }}"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}

    <script src="https://code.highcharts.com/highcharts.src.js"></script>

    <script>
        // Chars by question
        {% for key, value in data_q.items %}
            Highcharts.chart('data-char-{{ forloop.counter }}', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Estadísticas para: {{ key }}'
                },
                subtitle: {
                    text: ''
                },
                accessibility: {
                    announceNewData: {
                        enabled: true
                    }
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: 'Total # de respuestas por opción'
                    }

                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.0f}'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<b>{point.y:.0f}</b> personas han respondido: <br> <i>{point.name}</i><br/>'
                },

                series: [
                    {
                        name: "Calificación",
                        colorByPoint: true,
                        data: [
                            {% for key, data in value.items %}
                                {
                                    name: "{{ data.description }}",
                                    y: {{ data.value }},
                                },
                            {% endfor %}
                        ]
                    }
                ],
            });
        {% endfor %}

    </script>

{% endblock extra_js %}