{% extends 'base.html' %}
{% load static i18n %}


{% block extra_css %}
{% endblock %}

{% block class_body %}dashboard{% endblock class_body %}

{% block content %}

    <div class="main">
        {% include "core/sidebar.html" %}
        <form method="post">
            <div class="content">
                <div class="app">
                    <div class="head actions">
                        <div>
                            <div class="title">Crear Formulario</div>
                            <div class="description">Agrega el contenido de tus preguntas de acuerdo a tu necesidad</div>
                        </div>
                        <div>
                            <a type="button"
                               class="button"
                               href="{% url 'questions:questions_box' %}">
                                Cancelar
                            </a>
                        </div>
                    </div>
                    <div class="form">

                        {% csrf_token %}
                        <div class="row">
                            <input type="hidden" name="counter" id="counter" value="1">
                            <div class="title-group-field"><b>Datos generales</b></div>
                            <div class="col s12 m12">
                                <div class="j-field outlined">
                                    <input class="input-field" type="text" id="title" name="title" autocomplete="off"
                                           required="required" maxlength="200"/>
                                    <label for="title">Título cuestionario</label>
                                    <div class="helper-field">Agrega un título temático de acuerdo al cuestionario</div>
                                </div>
                            </div>
                            <div class="col s12 m12">
                                <div class="j-field outlined">
                                    <input class="input-field" type="text" id="description" name="description"
                                           autocomplete="off"
                                           required="required"/>
                                    <label for="description">Descripción</label>
                                    <div class="helper-field">Agrega una breve descripción a colocar en el formulario.
                                    </div>
                                </div>
                            </div>

                            <div class="title-group-field"><b>Listado de preguntas:</b></div>
                            <div class="row" id="content-questions"></div>
                        </div>

                        <div class="col s12">
                            <button type="button" class="button" onclick="addQuestion()">Agregar otra pregunta</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 action-form">
                            <a href="{% url 'questions:questions_box' %}" class="button danger">Cancelar</a>
                            <button type="submit" class="button primary">Guardar formulario</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}

{% block extra_js %}
    <script>
        let counter = 1;
        let el = document.getElementById("content-questions");

        function addQuestion() {
            let formContent = `
            <fieldset class="">
                <legend>Pregunta #${counter}</legend>
                <div class="row">
                    <div class="col s12 m12">
                        <div class="j-field outlined">
                            <input class="input-field" type="text"
                                   id="question_${counter}" name="question_${counter}"
                                   autocomplete="off" required="required"/>
                            <label for="question_${counter}">Título Pregunta #${1}</label>
                            <div class="helper-field">Agrega título de la pregunta a mostrar al usuario</div>
                        </div>
                    </div>

                    <div class="title-group-field"><b>
                        El formulario se compone de 6 opciones de respuesta, 0 su valor mínimo y 5 su máximo.
                        por favor ingresa cada una de las descripciones correspondientes a sus valores.
                    </b></div>

                    <div class="col s12">
                        <fieldset class="nb">
                            <div class="row">
                                {% for i in "012345" %}
                                    <div class="col s12 m6">
                                        <div class="j-field outlined">
                                            <input class="input-field" type="text"
                                                   id="option_{{ forloop.counter0 }}_question_${counter}"
                                                   name="option_{{ forloop.counter0 }}_question_${counter}"
                                                   autocomplete="off" required="required"/>
                                            <label for="option_{{ forloop.counter0 }}_question_${counter}">
                                                Opción para valor #{{ forloop.counter0 }}
                                            </label>
                                            <div class="helper-field">Ingresa una breve descripción correspondiente a la opción
                                                #{{ forloop.counter0 }} de la pregunta
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </fieldset>
                    </div>
                </div>
            </fieldset>
        `
            let htmlObject = document.createElement('div');
            htmlObject.classList.add("col");
            htmlObject.classList.add("s12");
            htmlObject.style.marginBottom = "20px";
            htmlObject.innerHTML = formContent
            el.before(htmlObject);

            document.getElementById("counter").value = counter;

            ui(["form"]).mount();
            counter++;
        }

        window.onload = function () {
            addQuestion();
        };

    </script>
{% endblock extra_js %}