.alert {
  position: relative;
  padding: 1rem 1rem !important;
  border: 1px solid transparent;
  border-radius: .25rem;
  width: 100%;
  margin: 10px 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .text {
    font-weight: bold;
  }

  &.success {
    color: #145233;
    background-color: #d0eadf;
    border-color: #bdd7ca;
  }

  &.info {
    color: #0b418e;
    background-color: #cde0f8;
    border-color: #b0cff6;
  }

  &.warning {
    color: #654c05;
    background-color: #fcf1cd;
    border-color: #fce8ae;
  }

  &.error {
    color: #7f1a22;
    background-color: #eec9cd;
    border-color: #f1bac0;
  }

  .close {
    cursor: pointer;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center / 1em auto no-repeat;
    border: 0;
    border-radius: .25rem;
    opacity: .5;
  }
}

#alerts {
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 99;
}