@import "vars";

.button {
  align-items: center;
  background-color: $color-text-primary;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: $color-primary;
  cursor: pointer;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;


  &:hover,
  &:focus {
    border-color: rgba($color-primary, 0.15);
    box-shadow: rgba($color-primary, 0.1) 0 4px 12px;
  }

  &:hover {
    transform: translateY(-1px);
  }

  &:active {
    background-color: $color-text-primary;
    border-color: rgba($color-primary, 0.15);
    box-shadow: rgba($color-primary, 0.06) 0 2px 4px;
    transform: translateY(0);
  }

  &.primary {
    background-color: rgba($color-primary, 1);
    color: $color-text-primary;
  }


  &.secondary {
    background-color: $color-contrast;
    color: #ffffff;
  }

  &.danger {
    background-color: rgba($color-basic, 1);
    color: #121212;
  }

  &.inert {
    border-radius: 0;
    box-shadow: transparent;
    font-size: 1rem;
    line-height: 1;
    padding: 0;
  }
}