/***************************************************
Start grid
 */
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .col {
    padding: 10px 20px;
    box-sizing: border-box;
    width: 100%;
    @media (max-width: 768px) {
      padding: 10px 15px;
    }
  }

  @media (min-width: 280px) {
    @for $i from 1 through 12 {
      .s#{$i} {
        -ms-flex: 0 0 (100% * $i / 12);
        flex: 0 0 (100% * $i / 12);
        max-width: (100% * $i / 12) - 4;
        margin: 5px 2%;
      }
    }
  }
  @media (min-width: 480px) {
    @for $i from 1 through 12 {
      .x#{$i} {
        -ms-flex: 0 0 (100% * $i / 12);
        flex: 0 0 (100% * $i / 12);
        max-width: (100% * $i / 12) - 4;
        margin: 5px 2%;
      }
    }
  }
  @media (min-width: 768px) {
    @for $i from 1 through 12 {
      .m#{$i} {
        -ms-flex: 0 0 (100% * $i / 12);
        flex: 0 0 (100% * $i / 12);
        max-width: (100% * $i / 12) - 4;
        margin: 5px 2%;
      }
    }
  }
  @media (min-width: 992px) {
    @for $i from 1 through 12 {
      .l#{$i} {
        -ms-flex: 0 0 (100% * $i / 12);
        flex: 0 0 (100% * $i / 12);
        max-width: (100% * $i / 12) - 4;
        margin: 5px 2%;
      }
    }
  }
}
/*
End grid
 ********************************/