@import "vars";

/* tables **/
table {
  border-right-color: $color-contrast;
  font-size: 18px;
  border-collapse: collapse;
  border-radius: 10px;
}

th, td {
  /* border: 1px solid #343a40; */
  padding: 16px 24px;
  text-align: center;
}

th:first-child,
td:first-child {
  text-align: left;
}

th:last-child,
td:last-child {
  display: flex;
  justify-content: center;
}

td:last-child .button {
  margin: 2px;
  padding: .5rem .6rem;
}

th {
  color: $color-primary;
  border-bottom: 1px solid rgba($color-basic, 0.35);
}

tbody tr:nth-child(odd) {
  background-color: $color-text-primary;
}


tbody tr:nth-child(even) {
  background-color: $color-bg-app;
}

/* end tables **/