$color-basic-100: #FFFFFF;
$color-basic-200: #FBFAFF;
$color-basic-300: #F0F1FF;
$color-basic-400: #E0E2FF;
$color-basic-900: #403952;

$color-primary-100: #F8F2FF;
$color-primary-200: #C8B3FF;
$color-primary-300: #A67DF0;
$color-primary-400: #7033FF;
$color-primary-500: #5B2AD0;
$color-primary-600: #451EB2;
$color-primary-700: #331595;
$color-primary-800: #230D78;
$color-primary-900: #170863;
$color-primary-transparent-100: rgba(91, 42, 208, 0.08);
$color-primary-transparent-200: rgba(91, 42, 208, 0.16);
$color-primary-transparent-300: rgba(91, 42, 208, 0.24);
$color-primary-transparent-400: rgba(91, 42, 208, 0.32);
$color-primary-transparent-500: rgba(91, 42, 208, 0.4);
$color-primary-transparent-600: rgba(91, 42, 208, 0.48);


$box-size: 20px;
$color-primary: #5c3882;
$color-secondary: #cf8fff;
$color-contrast: #20deff;
$color-basic: #ff7ea6;
$color-text-primary: #ffffff;
$color-bg-app: #F5F7FB;


