/**
 * JUI Template basic
 *
 * @link    https://joseflorez.co
 * @license For open source use: MIT
 * @author  Jose Florez https://joseflorez.co
 * @version 1.0.0
 *
 *
 */


@import "_vars.styl"
@import "font.styl"
@import "_alert.styl"
@import "_grip.styl"
@import "forms/forms.styl"
@import "dashboard/index.styl"

* {
  box-sizing border-box
  margin 0
  padding 0
  scrollbar-width none
  font-family 'Gilroy-Light', sans-serif
}

html, body {
  margin 0
  padding 0
}
