@font-face {
    font-family: 'Gilroy-Bold';
    src: url("../fonts/Gilrol-bold/Gilroy-ExtraBold.eot");
    src: url("../fonts/Gilrol-bold/Gilroy-ExtraBold.eot?#iefix") format('embedded-opentype'), url("../fonts/Gilrol-bold/Gilroy-ExtraBold.woff2") format('woff2'), url("../fonts/Gilrol-bold/Gilroy-ExtraBold.woff") format('woff'), url("../fonts/Gilrol-bold/Gilroy-ExtraBold.ttf") format('truetype'), url("../fonts/Gilrol-bold/Gilroy-ExtraBold.svg#Gilroy-Light") format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url("../fonts/Gilrol-light/Gilroy-Light.eot");
    src: url("../fonts/Gilrol-light/Gilroy-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/Gilrol-light/Gilroy-Light.woff2") format('woff2'), url("../fonts/Gilrol-light/Gilroy-Light.woff") format('woff'), url("../fonts/Gilrol-light/Gilroy-Light.ttf") format('truetype'), url("../fonts/Gilrol-light/Gilroy-Light.svg#Gilroy-Light") format('svg');
    font-weight: 300;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    font-family: 'Gilroy-Light', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}


.alert {
    position: relative;
    padding: 1rem 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    width: 100%;
    margin: 10px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alert.success {
    color: #145233;
    background-color: #d0eadf;
    border-color: #bdd7ca;
}

.alert.info {
    color: #0b418e;
    background-color: #cde0f8;
    border-color: #b0cff6;
}

.alert.warning {
    color: #654c05;
    background-color: #fcf1cd;
    border-color: #fce8ae;
}

.alert.error {
    color: #7f1a22;
    background-color: #eec9cd;
    border-color: #f1bac0;
}

.alert .close {
    cursor: pointer;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: 0.25rem;
    opacity: 0.5;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.row .col {
    padding: 10px 20px;
    box-sizing: border-box;
    width: 100%;
}

@media (max-width: 768px) {
    .row .col {
        padding: 10px 15px;
    }
}

@media (min-width: 280px) {
    .row .s1 {
        -ms-flex: 0 0 8.333333333333334%;
        flex: 0 0 8.333333333333334%;
        max-width: 4.333333333333334%;
        margin: 5px 2%;
    }

    .row .s2 {
        -ms-flex: 0 0 16.666666666666668%;
        flex: 0 0 16.666666666666668%;
        max-width: 12.666666666666668%;
        margin: 5px 2%;
    }

    .row .s3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 21%;
        margin: 5px 2%;
    }

    .row .s4 {
        -ms-flex: 0 0 33.333333333333336%;
        flex: 0 0 33.333333333333336%;
        max-width: 29.333333333333336%;
        margin: 5px 2%;
    }

    .row .s5 {
        -ms-flex: 0 0 41.666666666666664%;
        flex: 0 0 41.666666666666664%;
        max-width: 37.666666666666664%;
        margin: 5px 2%;
    }

    .row .s6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 46%;
        margin: 5px 2%;
    }

    .row .s7 {
        -ms-flex: 0 0 58.333333333333336%;
        flex: 0 0 58.333333333333336%;
        max-width: 54.333333333333336%;
        margin: 5px 2%;
    }

    .row .s8 {
        -ms-flex: 0 0 66.66666666666667%;
        flex: 0 0 66.66666666666667%;
        max-width: 62.66666666666667%;
        margin: 5px 2%;
    }

    .row .s9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 71%;
        margin: 5px 2%;
    }

    .row .s10 {
        -ms-flex: 0 0 83.33333333333333%;
        flex: 0 0 83.33333333333333%;
        max-width: 79.33333333333333%;
        margin: 5px 2%;
    }

    .row .s11 {
        -ms-flex: 0 0 91.66666666666667%;
        flex: 0 0 91.66666666666667%;
        max-width: 87.66666666666667%;
        margin: 5px 2%;
    }

    .row .s12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 96%;
        margin: 5px 2%;
    }
}

@media (min-width: 480px) {
    .row .x1 {
        -ms-flex: 0 0 8.333333333333334%;
        flex: 0 0 8.333333333333334%;
        max-width: 4.333333333333334%;
        margin: 5px 2%;
    }

    .row .x2 {
        -ms-flex: 0 0 16.666666666666668%;
        flex: 0 0 16.666666666666668%;
        max-width: 12.666666666666668%;
        margin: 5px 2%;
    }

    .row .x3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 21%;
        margin: 5px 2%;
    }

    .row .x4 {
        -ms-flex: 0 0 33.333333333333336%;
        flex: 0 0 33.333333333333336%;
        max-width: 29.333333333333336%;
        margin: 5px 2%;
    }

    .row .x5 {
        -ms-flex: 0 0 41.666666666666664%;
        flex: 0 0 41.666666666666664%;
        max-width: 37.666666666666664%;
        margin: 5px 2%;
    }

    .row .x6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 46%;
        margin: 5px 2%;
    }

    .row .x7 {
        -ms-flex: 0 0 58.333333333333336%;
        flex: 0 0 58.333333333333336%;
        max-width: 54.333333333333336%;
        margin: 5px 2%;
    }

    .row .x8 {
        -ms-flex: 0 0 66.66666666666667%;
        flex: 0 0 66.66666666666667%;
        max-width: 62.66666666666667%;
        margin: 5px 2%;
    }

    .row .x9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 71%;
        margin: 5px 2%;
    }

    .row .x10 {
        -ms-flex: 0 0 83.33333333333333%;
        flex: 0 0 83.33333333333333%;
        max-width: 79.33333333333333%;
        margin: 5px 2%;
    }

    .row .x11 {
        -ms-flex: 0 0 91.66666666666667%;
        flex: 0 0 91.66666666666667%;
        max-width: 87.66666666666667%;
        margin: 5px 2%;
    }

    .row .x12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 96%;
        margin: 5px 2%;
    }
}

@media (min-width: 768px) {
    .row .m1 {
        -ms-flex: 0 0 8.333333333333334%;
        flex: 0 0 8.333333333333334%;
        max-width: 4.333333333333334%;
        margin: 5px 2%;
    }

    .row .m2 {
        -ms-flex: 0 0 16.666666666666668%;
        flex: 0 0 16.666666666666668%;
        max-width: 12.666666666666668%;
        margin: 5px 2%;
    }

    .row .m3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 21%;
        margin: 5px 2%;
    }

    .row .m4 {
        -ms-flex: 0 0 33.333333333333336%;
        flex: 0 0 33.333333333333336%;
        max-width: 29.333333333333336%;
        margin: 5px 2%;
    }

    .row .m5 {
        -ms-flex: 0 0 41.666666666666664%;
        flex: 0 0 41.666666666666664%;
        max-width: 37.666666666666664%;
        margin: 5px 2%;
    }

    .row .m6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 46%;
        margin: 5px 2%;
    }

    .row .m7 {
        -ms-flex: 0 0 58.333333333333336%;
        flex: 0 0 58.333333333333336%;
        max-width: 54.333333333333336%;
        margin: 5px 2%;
    }

    .row .m8 {
        -ms-flex: 0 0 66.66666666666667%;
        flex: 0 0 66.66666666666667%;
        max-width: 62.66666666666667%;
        margin: 5px 2%;
    }

    .row .m9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 71%;
        margin: 5px 2%;
    }

    .row .m10 {
        -ms-flex: 0 0 83.33333333333333%;
        flex: 0 0 83.33333333333333%;
        max-width: 79.33333333333333%;
        margin: 5px 2%;
    }

    .row .m11 {
        -ms-flex: 0 0 91.66666666666667%;
        flex: 0 0 91.66666666666667%;
        max-width: 87.66666666666667%;
        margin: 5px 2%;
    }

    .row .m12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 96%;
        margin: 5px 2%;
    }
}

@media (min-width: 992px) {
    .row .l1 {
        -ms-flex: 0 0 8.333333333333334%;
        flex: 0 0 8.333333333333334%;
        max-width: 4.333333333333334%;
        margin: 5px 2%;
    }

    .row .l2 {
        -ms-flex: 0 0 16.666666666666668%;
        flex: 0 0 16.666666666666668%;
        max-width: 12.666666666666668%;
        margin: 5px 2%;
    }

    .row .l3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 21%;
        margin: 5px 2%;
    }

    .row .l4 {
        -ms-flex: 0 0 33.333333333333336%;
        flex: 0 0 33.333333333333336%;
        max-width: 29.333333333333336%;
        margin: 5px 2%;
    }

    .row .l5 {
        -ms-flex: 0 0 41.666666666666664%;
        flex: 0 0 41.666666666666664%;
        max-width: 37.666666666666664%;
        margin: 5px 2%;
    }

    .row .l6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 46%;
        margin: 5px 2%;
    }

    .row .l7 {
        -ms-flex: 0 0 58.333333333333336%;
        flex: 0 0 58.333333333333336%;
        max-width: 54.333333333333336%;
        margin: 5px 2%;
    }

    .row .l8 {
        -ms-flex: 0 0 66.66666666666667%;
        flex: 0 0 66.66666666666667%;
        max-width: 62.66666666666667%;
        margin: 5px 2%;
    }

    .row .l9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 71%;
        margin: 5px 2%;
    }

    .row .l10 {
        -ms-flex: 0 0 83.33333333333333%;
        flex: 0 0 83.33333333333333%;
        max-width: 79.33333333333333%;
        margin: 5px 2%;
    }

    .row .l11 {
        -ms-flex: 0 0 91.66666666666667%;
        flex: 0 0 91.66666666666667%;
        max-width: 87.66666666666667%;
        margin: 5px 2%;
    }

    .row .l12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 96%;
        margin: 5px 2%;
    }
}

.j-field {
    position: relative;
    min-height: 40px;
    height: auto;
    width: 100%;
    font-size: 16px;
}

.j-field input,
.j-field select {
    margin: 10px 0;
    background-color: transparent;
    width: 100%;
    height: 50px;
    border: none;
    box-shadow: none;
    font-size: 20px;
    outline: none;
}

.j-field input[type="date"] + label,
.j-field select[type="date"] + label,
.j-field input:valid + label,
.j-field select:valid + label,
.j-field input:focus + label,
.j-field select:focus + label {
    transform: translate(10px, -15px);
}

.j-field label {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    color: #5c3882;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.j-field .helper-field {
    position: absolute;
    top: 55px;
    font-size: 12px;
    color: #cf8fff;
}

.j-field span {
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    display: block;
    background-color: #5c3882;
    width: 100%;
    height: 2px;
    text-align: left;
}

.j-field.outlined {
    margin: 10px 0;
}

.j-field.outlined input,
.j-field.outlined select {
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 0 15px;
    height: 30px;
}

.j-field.outlined input[type="date"] + label,
.j-field.outlined select[type="date"] + label,
.j-field.outlined input:valid + label,
.j-field.outlined select:valid + label,
.j-field.outlined input:focus + label,
.j-field.outlined select:focus + label {
    background-color: #fff;
    z-index: 2;
    height: auto;
    transform: translate(10px, -10px);
    padding: 0 5px;
}

.j-field.outlined label {
    left: 10px;
    height: 45px;
}

.j-field.outlined .helper-field {
    position: absolute;
    top: 50px;
}

.j-field.outlined span {
    height: 45px;
    border: 2px solid #5c3882;
    background-color: transparent;
    top: 0;
    border-radius: 8px;
    z-index: 0;
}

/* radio buttons*/
.form ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.form ul li {
    color: #5c3882;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 60px;

}

.form ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.form ul li label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 10px 25px 30px 80px;
    margin: 5px auto;
    height: 20px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.form ul li:hover label {
    color: #850518;
}

.form ul li .check {
    display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 33px;
    width: 33px;
    top: 10px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.form ul li:hover .check {
    border: 5px solid #850518;
}

.form ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 4px;
    left: 4px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.form input[type=radio]:checked ~ .check {
    border: 5px solid #850518;
}

.form input[type=radio]:checked ~ .check::before {
    background: #850518;
}

.form input[type=radio]:checked ~ label {
    color: #850518;
}

/* End radion buttons*/

/* checkbox */
:root {

    --primary-color: #ea7bad;
    --neutral-color: #c4c4c4;
    --background-light: #f5f5f5;
    --background-dark: #1f252b;
    --box-size: 20px;
}

.input-checkbox {
    position: relative;
    display: block;
    align-items: center;
}

.input-checkbox input, .input-checkbox .input-checkbox_box {
    position: absolute;
    top: calc(50% - (var(--box-size) / 2));
    width: var(--box-size);
    height: var(--box-size);
    outline: 1px solid transparent;
}

.input-checkbox input {
    cursor: pointer;
    opacity: 0;
}

.input-checkbox input:checked ~ label .input-checkbox_box {
    background-color: var(--primary-color);
}

.input-checkbox input:active ~ label {
    top: 1px;
}

.input-checkbox input:not(:disabled):focus ~ label .input-checkbox_box, .input-checkbox input:not(:disabled):hover ~ label .input-checkbox_box {
    outline: 2px solid var(--primary-color);
}

.input-checkbox input:disabled ~ label {
    color: var(--neutral-color);
    cursor: not-allowed;
}

.input-checkbox input:disabled ~ label .input-checkbox_box {
    border: 2px solid var(--neutral-color);
}

.input-checkbox input:disabled:checked ~ label .input-checkbox_box {
    background-color: var(--neutral-color);
}

.input-checkbox label {
    position: relative;
    display: flex;
    padding-top: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.input-checkbox .input-checkbox_box {
    margin-right: 12px;
    pointer-events: none;
    border: 2px solid var(--primary-color);
    transition: all 0.2s ease-in-out;
}

.input-checkbox .input-checkbox_box::after {
    position: relative;
    top: 0px;
    left: 2px;
    display: inline-block;
    width: 16px;
    height: 13px;
    content: "";
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><g fill='none' fill-rule='evenodd'><path d='M0 0h20v20H0z'/><path fill='%23ffffff' d='M1 10.243L7.321 17 19 4.763 17.156 3 7.321 13.346l-4.477-4.76z'/></g></svg>");
    background-repeat: no-repeat;
}

.input-checkbox .input-checkbox_content {
    margin-left: calc(var(--box-size) + 12px);
}

.input-checkbox + .input-checkbox {
    margin-top: 2rem;
}

/* end checkbox */


fieldset {
    padding: 0 15px 20px;
    border: 2px solid #5c3882;
    position: relative;
}

fieldset legend {
    padding: 0 5px;
}

fieldset.nb {
    border: 0;
    padding: 0;
}

fieldset.nb .row .col {
    margin: 5px 10px;
    padding: 10px 0;
}

fieldset.nb legend {
    width: 100%;
    padding: 10px;
    background-color: #5c3882;
    color: #fff;
    border-right: 5px;
    font-weight: 600;
}

.title-group-field {
    width: 100%;
    display: block;
    padding: 0 35px;
    margin-top: 30px;
}

@media screen and (max-width: 768px) {
    .title-group-field {
        padding: 0 20px;
    }
}

.sidebar-left {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-left .logo {
    color: #5c3882;
    font-weight: bold;
    font-family: 'Gilroy-Bold', sans-serif;
    margin: 20px auto;
    font-size: 2rem;
}

.sidebar-left ul.menu {
    list-style: none;
    width: 90%;
    margin-left: 30px;
}

.sidebar-left ul.menu li:not(.sub-menu) {
    padding: 10px;
    margin: 10px auto;
}

.sidebar-left ul.menu li:not(.sub-menu).active,
.sidebar-left ul.menu li:not(.sub-menu):hover {
    background-color: rgba(207, 143, 255, 0.3);
    box-shadow: 0 4px 8px rgba(92, 56, 130, 0.1);
    transform: translateY(-3px);
}

.btn,
.sidebar-left ul.menu li a {
    text-decoration: none;
    color: inherit;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sidebar-left ul.menu li.sub-menu > div {
    padding: 10px;
    margin: 0;
    width: 100%;
}

.sidebar-left ul.menu li.sub-menu > div.active,
.sidebar-left ul.menu li.sub-menu > div:hover {
    background-color: rgba(207, 143, 255, 0.3);
    box-shadow: 0 4px 8px rgba(92, 56, 130, 0.1);
    transform: translateY(-3px);
}

.sidebar-left ul.menu li,
.sidebar-left ul.menu li div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
}

.sidebar-left ul.menu li .material-icons,
.sidebar-left ul.menu li div .material-icons {
    margin-right: 20px;
}

.sidebar-left ul.menu li .toggle {
    margin-right: 0 !important;
    margin-left: 20px;
    transition: transform 0.2s;
}

.sidebar-left ul.menu li .togglei.open {
    transform: rotate(180deg);
}

.sidebar-left ul.menu li a.toggle {
    width: 100%;
    margin-left: 0;
}

.sidebar-left ul.menu li a.material-icons {
    width: auto;
    margin-right: 0;
    white-space: initial;
    text-overflow: initial;
    overflow: initial;
}

.sidebar-left ul.menu li.sub-menu {
    flex-direction: column;
    overflow: hidden;
}

.sidebar-left ul.menu li.sub-menu ul {
    padding-left: 10px;
    margin-left: 10px;
    width: calc(100% - 20px);
    transition: height 0.4s;
    height: 0;
    border-left: 2px dotted #20deff;
}

.dashboard {
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 126, 166, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard .main {
    width: 98%;
    height: 95vh;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    box-shadow: 0 4px 8px rgba(92, 56, 130, 0.1);
}

.dashboard .main .content,
.dashboard .main form {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
}

.dashboard .main .content .app {
    background-color: #f5f7fb;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.dashboard .main .content .app::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.dashboard .main .content .app .head.actions {
    display: flex;
    justify-content: space-between;
}

.dashboard .main .content .app .head.actions div:last-child {
    display: flex;
    align-items: flex-start;
}
.dashboard .main .content .app .head.actions div:last-child .button {
    margin: 5px;
}


.dashboard .main .content .app .head {
    width: 90%;
    padding: 30px 0;
    margin: 0 auto;
}

.dashboard .main .content .app .head .title {
    color: #5c3882;
    font-weight: bold;
    font-size: 3rem;
    margin: 15px 20px 15px 0;
}

.dashboard .main .content .app .head .description {
    color: rgba(92, 56, 130, 0.7);
    margin: 0 20px 0 0;
    font-size: 1rem;
}

.dashboard .main .content .app .form,
.dashboard .main .content .app .info {
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
}

.score {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(207, 143, 255, 0.3);
}

.score .total {
    font-size: 8rem;
    font-weight: bold;
}

.score .description {
    font-weight: bold;
}

/* CSS */
.button {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover,
.button:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:hover {
    transform: translateY(-1px);
}

.button:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    transform: translateY(0);
}

.button.primary {
    background-color: rgba(207, 143, 255, 0.3);
    color: #121212;
}

.button.secondary {
    background-color: #4965a1;
    color: #ffffff;
}

.button.danger {
    background-color: rgba(168, 5, 52, 0.3);
    color: #121212;
}

.action-form {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.center {
    text-align: center;
}

.content-questions-resolve {
    display: block;
    position: relative;
    margin: 40px auto;
    height: auto;
    width: 500px;
    padding: 20px;
}

.content-questions-resolve .title-question {
    color: #7f1a22;
}

/* tables **/
table {
    border-right-color: #ffffff;
    font-size: 18px;
    border-collapse: collapse;
    border-radius: 10px;
}

th, td {
    /* border: 1px solid #343a40; */
    padding: 16px 24px;
    text-align: center;
}

th:first-child,
td:first-child {
    text-align: left;
}

th:last-child,
td:last-child {
    display: flex;
    justify-content: center;
}
td:last-child .button {
    margin: 2px;
    padding: .5rem .6rem;
}

th {
    color: #4965a1;
    border-bottom: 1px solid rgba(73, 101, 161, 0.35);
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}


tbody tr:nth-child(even) {
    background-color: rgba(207, 143, 255, 0.13);
}

/* end tables **/