@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilrol-bold/Gilroy-ExtraBold.eot');
    src: url('../fonts/Gilrol-bold/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilrol-bold/Gilroy-ExtraBold.woff2') format('woff2'),
        url('../fonts/Gilrol-bold/Gilroy-ExtraBold.woff') format('woff'),
        url('../fonts/Gilrol-bold/Gilroy-ExtraBold.ttf') format('truetype'),
        url('../fonts/Gilrol-bold/Gilroy-ExtraBold.svg#Gilroy-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../fonts/Gilrol-light/Gilroy-Light.eot');
    src: url('../fonts/Gilrol-light/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilrol-light/Gilroy-Light.woff2') format('woff2'),
    url('../fonts/Gilrol-light/Gilroy-Light.woff') format('woff'),
    url('../fonts/Gilrol-light/Gilroy-Light.ttf') format('truetype'),
    url('../fonts/Gilrol-light/Gilroy-Light.svg#Gilroy-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
