* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  font-family: 'Gilroy-Light', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

@import "vars";
@import "font";
@import "alert";
@import "grip";
@import "tables";
@import "buttons";
@import "forms/forms";
@import "dashboard/index";
