@import "./../vars";
@import "./sidebar-left";

.dashboard {
  height: 100vh;
  width: 100%;
  background-color: rgba($color-basic, .1);
  display: flex;
  justify-content: center;
  align-items: center;

  .main {
    width: 98%;
    height: 95vh;
    margin: 0 auto;
    background-color: $color-text-primary;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    box-shadow: 0 4px 8px rgba($color-primary, 0.1);

    .content, form {
      width: 100%;
      height: 100%;
      padding: 20px;
      display: flex;
      align-items: center;
    }

    .app {
      background-color: $color-bg-app;
      border-radius: 10px;
      width: 100%;
      height: 100%;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        height: 0;
        width: 0;
      }

      .head {
        width: 100%;
        padding: 30px;

        .title {
          color: $color-primary;
          font-weight: bold;
          font-size: 3rem;
          margin: 15px 20px;
        }

        .description {
          color: rgba($color-primary, .7);
          margin: 0 20px;
          font-size: 1rem;
        }

        &.actions {
          display: flex;
          justify-content: space-between;

          div:last-child {
            display: flex;
            align-items: flex-start;

            .button {
              margin: 5px;
            }
          }
        }
      }

      .form, .info {
        width: 90%;
        margin: 0 auto;
        padding: 30px;
        background-color: $color-text-primary;
        border-radius: 10px;
      }


      .score {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        background-color: rgba($color-basic, 0.3);

        .total {
          font-size: 8rem;
          font-weight: bold;
        }

        .description {
          font-weight: bold;
        }
      }
    }


    .action-form {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
    }

    .center {
      text-align: center;
    }

    .content-questions-resolve {
      display: block;
      position: relative;
      margin: 40px auto;
      height: auto;
      width: 500px;
      padding: 20px;
    }

    .content-questions-resolve .title-question {
      color: $color-basic;
    }

  }
}
