@import "./../vars";

.sidebar-left {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    color: $color-primary;
    font-weight: bold;
    font-family: 'Gilroy-Bold', sans-serif;
    margin: 20px auto;
    font-size: 2rem;
  }

  ul.menu {
    list-style: none;
    width: 100%;

    li {
      &:not(.sub-menu) {
        padding: 10px;
        margin: 10px auto;

        &.active,
        &:hover {
          background-color: rgba($color-secondary, .3);
          box-shadow: 0 4px 8px rgba($color-primary, 0.1);
          transform: translateY(-3px);
        }
      }

      a {
        text-decoration: none;
        color: inherit;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &.sub-menu > div {
        padding: 10px;
        margin: 0;
        width: 100%;

        &.active,
        &:hover {
          background-color: rgba($color-secondary, .3);
          box-shadow: 0 4px 8px rgba($color-primary, 0.1);
          transform: translateY(-3px);
        }
      }

      &, div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.2s ease-in-out 0s;

        .material-icons {
          margin-right: 20px;
        }
      }

      .toggle {
        margin-right: 0!important;
        margin-left: 20px;
        transition: transform .2s;

        i.open {
          transform: rotate(180deg);
        }
      }

      a.toggle {
        width: 100%;
        margin-left: 0;
      }
      a.material-icons {
        width: auto;
        margin-right: 0;
        white-space: initial;
        text-overflow: initial;
        overflow: initial;

      }

      &.sub-menu {
        flex-direction: column;
        overflow: hidden;
        ul {
          padding-left: 10px;
          margin-left: 10px;
          width: calc(100% - 20px);
          transition: height .4s;
          height: 0;
          border-left: 2px dotted $color-contrast;
        }
      }
    }
  }

  .action-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
