{% extends 'base.html' %}
{% load static i18n %}
{% block header_text %}
    {% trans 'Dashboard' %}
{% endblock header_text %}


{% block extra_css %}
{% endblock %}

{% block content %}
    <a href="{% url 'questions:questions_box' %}">Questions</a>

    <a href="{% url 'core:logout' %}">
        Logout
    </a>
    <h1>Dashboard</h1>
{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}

