<div class="sidebar-left">
    <div class="logo">{{ request.user.username }}</div>
    <div class="action-sidebar">
        <ul class="menu">
            <li>
                <i class="material-icons">work_outline</i>
                <a class="text" href="{% url 'questions:questions_box' %}">Forms</a>
            </li>
        </ul>

        <ul class="menu">
            <li>
                <i class="material-icons">logout</i>
                <a class="text" href="{% url 'core:logout' %}">Cerrar Sesión</a>
            </li>
        </ul>
    </div>
</div>