{% extends 'base.html' %}
{% load static i18n %}


{% block extra_css %}
    <style>
        .main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 400px !important;
            height: auto !important;
        }

        .action-form {
            margin-top: 5px !important;
            justify-content: center !important;
            margin-bottom: 20px !important;
        }

        .action-form .button {
            width: 100%;
        }

        .col.field, .col.alert-item {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            margin: 0!important;
        }

        .title-group-field {
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
            margin-top: 20px !important;
        }
    </style>
{% endblock %}

{% block class_body %}dashboard{% endblock class_body %}

{% block content %}
    <div class="main">
        <form action="" method="post" name="login">
            {% csrf_token %}
            <div class="row">
                <div class="title-group-field"><b>Iniciar Sesión</b></div>
                {% for message in messages %}
                    <div class="col s12 alert-item">
                        <div class="alert {{ message.tags }}" role="alert">
                            <div class="text">{{ message }}</div>
                            <button type="button" class="close"></button>
                        </div>
                    </div>
                {% endfor %}
                <div class="col field s12 m12">
                    <div class="j-field outlined">
                        <input class="input-field" type="email" id="email" name="email" autocomplete="off"
                               required="required" maxlength="200"/>
                        <label for="title">Correo Electrónico</label>
                        <div class="helper-field"></div>
                    </div>
                </div>
                <div class="col field s12 m12">
                    <div class="j-field outlined">
                        <input class="input-field" type="password" id="password" name="password"
                               autocomplete="off"
                               required="required"/>
                        <label for="description">Contraseña</label>
                        <div class="helper-field"></div>
                    </div>
                </div>
                <div class="col s12 action-form">
                    <button type="submit" class="button primary">Iniciar sesión</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}


<div class="container login-container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div id="first">
                <div class="myform form">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>{% trans 'Login' %}</h1>
                        </div>
                    </div>
                    <form action="" method="post" name="login">
                        {% csrf_token %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }}" role="alert">{{ message }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label for="email">{% trans 'Email' %}</label>
                            <input type="email" name="email" class="form-control" id="email"
                                   aria-describedby="emailHelp" placeholder="{% trans 'Enter email' %}">
                        </div>
                        <div class="form-group">
                            <label for="password">{% trans 'Password' %}</label>
                            <input type="password" name="password" id="password" class="form-control"
                                   aria-describedby="emailHelp" placeholder="{% trans 'Enter password' %}">
                        </div>
                        <div class="col-md-12 text-center ">
                            <button type="submit"
                                    class=" btn btn-block mybtn btn-u tx-tfm">{% trans 'Login' %}</button>
                        </div>
                        <div class="col-md-12 ">
                            <div class="login-or">
                                <hr class="hr-or">
                                <span class="span-or">{% trans 'or' %}</span>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
