{% load static sass_tags %}
<!DOCTYPE html>
<!--[if IE 8]>
<html lang="es" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="es" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es"> <!--<![endif]-->
<head>
    <title>Florencia</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="Shortcut icon">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="{% sass_src 'css/style.scss' %}">

    {% block extra_css %}
    {% endblock extra_css %}

</head>

<body class="{% block class_body %}{% endblock class_body %}">

<div id="alerts"></div>

{% block content %}{% endblock content %}


<script src="{% static 'js/libs/clipboard.min.js' %}"></script>
<script src="{% static 'js/j-ui.js' %}"></script>
{% block extra_js %}
{% endblock extra_js %}

</body>
</html>

