@import "./../vars";

.input-checkbox {
  position: relative;
  display: block;
  align-items: center;
}

.input-checkbox input, .input-checkbox .input-checkbox_box {
  position: absolute;
  top: 2px;
  width: 20px;
  height: 20px;
  outline: 1px solid transparent;
}

.input-checkbox input {
  cursor: pointer;
  opacity: 0;
}

.input-checkbox input:checked ~ label .input-checkbox_box {
  background-color: $color-primary;
}

.input-checkbox input:active ~ label {
  top: 1px;
}

.input-checkbox input:not(:disabled):focus ~ label .input-checkbox_box, .input-checkbox input:not(:disabled):hover ~ label .input-checkbox_box {
  outline: 2px solid $color-primary;
}

.input-checkbox input:disabled ~ label {
  color: $color-bg-app;
  cursor: not-allowed;
}

.input-checkbox input:disabled ~ label .input-checkbox_box {
  border: 2px solid $color-bg-app;
}

.input-checkbox input:disabled:checked ~ label .input-checkbox_box {
  background-color: $color-bg-app;
}

.input-checkbox label {
  position: relative;
  display: flex;
  padding-top: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.input-checkbox .input-checkbox_box {
  margin-right: 12px;
  pointer-events: none;
  border: 2px solid $color-primary;
  transition: all 0.2s ease-in-out;
}

.input-checkbox .input-checkbox_box::after {
  position: relative;
  top: 0px;
  left: 2px;
  display: inline-block;
  width: 16px;
  height: 13px;
  content: "";
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><g fill='none' fill-rule='evenodd'><path d='M0 0h20v20H0z'/><path fill='%23ffffff' d='M1 10.243L7.321 17 19 4.763 17.156 3 7.321 13.346l-4.477-4.76z'/></g></svg>");
  background-repeat: no-repeat;
}

.input-checkbox .input-checkbox_content {
  margin-left: calc(20px + 12px);
}

.input-checkbox + .input-checkbox {
  margin-top: 2rem;
}