@import "./../vars";

.j-field {
  position: relative;
  min-height: 40px;
  height: auto;
  width: 100%;
  font-size: 16px;

  input, select {
    margin: 10px 0;
    background-color: transparent;
    width: 100%;
    height: 50px;
    border: none;
    box-shadow: none;
    font-size: 20px;
    outline: none;
  }

  &[type="date"],
  &:valid, &:focus {
    + label {
      transform: translate(10px, -15px);
    }
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    color: $color-primary;
    transition: .3s;
    display: flex;
    align-items: center;
  }

  .helper-field {
    position: absolute;
    top: 55px;
    font-size: 12px;
    color: $color-secondary;
  }

  span {
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    display: block;
    background-color: $color-primary;
    width: 100%;
    height: 2px;
    text-align: left;
  }

  &.outlined {
    margin: 10px 0;

    input, select {
      position: absolute;
      top: 0;
      z-index: 1;
      padding: 0 15px;
      height: 30px;

      &[type="date"],
      &:valid, &:focus {
        + label {
          background-color: #ffffff;
          z-index: 2;
          height: auto;
          transform: translate(10px, -10px);
          padding: 0 5px;
        }
      }
    }

    label {
      left: 10px;
      height: 45px;
    }

    .helper-field {
      position: absolute;
      top: 50px;
    }

    span {
      height: 45px;
      border: 2px solid $color-primary;
      background-color: transparent;
      top: 0;
      border-radius: 8px;
      z-index: 0;
    }
  }
}