@import "./../vars";

.form ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.form ul li {
    color: $color-primary;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 60px;

}

.form ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.form ul li label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 10px 25px 30px 80px;
    margin: 5px auto;
    height: 20px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.form ul li:hover label {
    color: $color-basic;
    font-weight: bold;
}

.form ul li .check {
    display: block;
    position: absolute;
    border: 5px solid $color-primary;
    border-radius: 100%;
    height: 33px;
    width: 33px;
    top: 10px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.form ul li:hover .check {
    border: 5px solid $color-basic;
}

.form ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 4px;
    left: 4px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.form input[type=radio]:checked ~ .check {
    border: 5px solid $color-basic;
}

.form input[type=radio]:checked ~ .check::before {
    background: $color-basic;
}

.form input[type=radio]:checked ~ label {
    color: $color-basic;
    font-weight: bold;
}