@import "./../vars";

@import "./input";
@import "./radio";
@import "./checkbox";

fieldset {
  padding: 0 15px 20px;
  border: 2px solid $color-primary;

  legend {
    padding: 0 5px;

    &.nb {
      border: 0;
      padding: 0;

      .row .col {
        margin: 5px 10px;
        padding: 10px 0;
      }

      legend {
        width: 100%;
        padding: 10px;
        background-color: $color-primary;
        color: $color-text-primary;
        border-right: 5px;
        font-weight: 600;
      }
    }

    .title-group-field {
      width: 100%;
      display: block;
      padding: 0 35px;
      margin-top: 30px;

      @media screen and (max-width: 768px) {
        padding: 0 20px;

      }
    }
  }
}

.title-group-field {
    width: 100%;
    display: block;
    padding: 0 35px;
    margin-top: 30px;
}

@media screen and (max-width: 768px) {
    .title-group-field {
        padding: 0 20px;
    }
}